<table cellpadding="0" cellspacing="0" width="100%" border="0" class="row">
    <tbody>
    <tr>
        <td>
            <div id="content">
                <h1>Pengajuan Pengembalian <%- product_detail.type %> #<%- product_detail.invoice?.toUpperCase() %> oleh <%- record_data.client_name %> Disetujui</h1>
                <p style="display: inline-block">Dear <span style="font-weight: bold"><%- data.seller_fullname %></span>,</p>
                <br>
                <p>Pesanan dengan rincian:  </p>
                <br>
                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="background-color: #F8FAFC; border-radius: 16px;">
                    <tbody>
                    <tr>
                        <td width="30%" style="padding: 1rem;">No. Pesanan</td>
                        <td width="70%" class="text-right" style="padding: 1rem;"><b><%- product_detail.payment_id?.toUpperCase() %></b></td>
                    </tr>
                    <tr>
                        <td width="30%" style="padding: 1rem;">Tanggal Order</td>
                        <td width="100%" class="text-right" style="padding: 1rem;"><b><%- product_detail.order_date %></b></td>
                    </tr>
                    <tr>
                        <td width="30%" style="padding: 1rem;">Metode Pembayaran</td>
                        <td width="70%" class="text-right" style="padding: 1rem;"><b><%- product_detail.payment_method %></b></td>
                    </tr>
                    <tr>
                        <td width="30%" style="padding: 1rem;">Status</td>
                        <td width="70%" class="text-right" style="padding: 1rem;"><b>Diterima</b></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div style="background:none; border-bottom: 1px solid #d7dfe3; height:1px; width:100%;"></div>
                <br>
                <div style="font-size: 24px; font-weight: bold; margin-bottom: 8px">Detail order:</div>
                <p style="display:inline-block;">No. Invoice: <span style="color: #B54B0F">#<%- product_detail.invoice?.toUpperCase() %></span></p>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 24px">
                    <tbody>
                    <% product_detail.products.slice(0, 3).forEach((product) => { %>
                    <tr>
                        <td><img src="<%= product.product_image %>" alt="" style="width: 72px; height: 72px"></td>
                        <td style="vertical-align: top">
                            <p style="font-weight: bold; margin-bottom: 8px;"><%= product.product_name %></p>
                            <div style="display: flex; gap: 4px; justify-items: center;">
                                <p class="font-sm"><%= product.product_variant %></p>
                                <p>|</p>
                                <p class="font-sm">Qty: x<%= product.product_quantity %></p>
                            </div>
                        </td>
                        <td style="font-weight: bold; color: #B54B0F; vertical-align: top">
                            <p style="font-weight: bold" class="text-right">Rp<%= product.product_price %></p>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
                <% if (product_detail.products.length > 3) { %>
                    <p style="color: #B54B0F; font-weight: 600;">
                        +<%- (product_detail.products.length - 3) %> Lainnya
                    </p>
                <% } %>
                <br>
                <div style="background:none; border-bottom: 1px solid #d7dfe3; height:1px; width:100%;"></div>
                <br>
                <div style="font-size: 24px; font-weight: bold; vertical-align: middle">Langkah selanjutnya</div>
                <br>
                <p>
                    Berdasarkan pengajuan pengembalian yang telah diajukan sebelumnya, seller telah menyetujui pengajuan yang diberikan dan dana akan dikembalikan. Kamu bisa menarik dana melalui tombol "TARIK DANA" yang ada di aplikasi. 
                    <br>
                    <br>
                    Jangan lupa untuk selalu gunakan <%- data.company_name %> untuk membeli produk-produk kecantikkan favorit kamu. 
                </p>
                <br>
                <p>Best Regards,</p>
                <p><%- data.company_name %> Team</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>
